:root {
    --main-color1: #1b2e46;
    --main-color: #3141bf;
    --main-color-sub1:#444b7e;
    --main-color-sub2:#bac7d4;
    --main-color-sub3:#f1f1f6;
    --main-disabled:#9e9e9e;

    --main-color-close: #963636;
    --main-color-save: #2a5e2d;

    --main-color-cancel: #5e2a2a;
    --main-color-option:#e9eaeb;
    --main-color-approve: #327432;
    --main-color-delete: #743232;


    --white-color: white;
    --black-color: #000000;
}